body {
    margin: 0;
    padding: 0;
    
}

@font-face {
	font-family: 'title';
  src: url(../font/shipporisans/ShipporiSans-W6.otf);

}
@font-face {
	font-family: 'nasu';
  src: url(../font/NasuFont20200227/NasuM-Regular-20200227.ttf);
}

@font-face {
	font-family: 'Genei';
  src: url(../font/GenEiChikuMin_v2.1/GenEiChikugoMin2-R.ttf);
}

@font-face {
	font-family: 'Dakuten';
  src: url(../font/NeoDakutenMincho/NeoDakutenMincho20181122001.ttf);
}

@font-face {
	font-family: 'Kaisho';
  src: url(../font/g_pencilkaisho_free_011_20171223/g_pencilkaisho_free.ttf);
}




ons-toolbar {
  font-family: 'Alegreya Sans SC', sans-serif;
}


.content {
  width: 100%;
}


.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#title1 {
  text-align: center;
  font-size: 90px;
  font-family: 'title';
  margin: 0;
  padding-top: 30px;
  line-height: 110px;
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 0.5s forwards;
}


#title1 span {
  display: inline-block;
}

#title1 span:nth-child(1) {
  animation: textAnime 0.6s ease-in-out 0.5s forwards;
}

#title1 span:nth-child(2) {
  animation: textAnime 0.6s ease-in-out 0.6s forwards;
}

#title1 span:nth-child(3) {
  animation: textAnime 0.6s ease-in-out 0.7s forwards;
}

#title1 span:nth-child(4) {
  animation: textAnime 0.6s ease-in-out 0.8s forwards;
}


@keyframes textAnime {
    0% {
      transform: translateY(0);
  }
  25%{
      transform: translateY(-30%);
  }
  75% {
      transform: translateY(30%);
  }
  100%{
      transform: translateY(0);
  }
}

.title-center {
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 4px;
}

.top-image {
  opacity: 0;
  text-align: center;
  display: flex;
  animation: 2s 0.5s fadeIn forwards;
  margin-top: 20px;
  justify-content: center;
}


#p5 {
  background: red;
  color: white;
  font-size: 22px;
  font-weight: bold;
  font-family: 'nasu';
  padding-top: 15px;
  margin: 40px 0 0 20px;
  border-radius: 5px;
  width: 210px;
  height: 90px;
}

.images-container {
  background: rgba(144, 238, 144, 0.2);
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
}


#image-list, #memory-list {
  text-align: center;
  font-size: 27px;
  font-family: 'Genei';
}

#image-list{
  background: ghostwhite;
  width: 220px;
  height: 50px;
  line-height: 50px;
  margin: 20px auto;
  border-radius: 20px;
  border: 1px solid lightseagreen;
}

.box {
  text-align: center;
}

#close-message {
  display: block;
  text-align: center;
  width: 180px;
  margin: 20px auto;
  background: lightseagreen;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.all {
  text-align: center;
}

.all > ons-button {
  margin-top: 10px;
  background-color: cornflowerblue;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#box {
  display: none;
}



#images {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-gap: 30px;
  justify-content: center;
}

#images li {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid mediumseagreen;
  border-radius: 10px;
}

#images img {
  width: 140px;
  vertical-align: bottom;
}

#images p {
  margin: 10px 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Yu Gothic';
}


.btn_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.btn_content > ons-button {
  font-size: 40px;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 200px;
  height: 50px;
  line-height: 40px;
  margin-bottom: 30px;
}

#start {
  background: coral;
}

#how {
  background: royalblue;
}


.add-image {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  background-color: rgba(144, 238, 144, 0.3);
  border-radius: 10px;
}

#add-title {
  margin-top: 30px;
}


.my-folder {
  margin-top: 20px;
}

label {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid skyblue;
  color: rgba(0, 0, 0, 0.5);
}

label:active {
  background-color: rgba(135, 206,235, 0.6);
}

.preview {
  margin-top: 20px;
}

#file {
  display: none;
}

.preview img {
  width: 350px;
}

#image-name {
  margin-top: 20px;
}

.added {
  opacity: 0.5;
}

/* how-to */
.explain-container {
  background: rgba(152, 251, 152, 0.9);
  width: 380px;
  height: 270px;
  font-size: 24px;
  font-family: 'Yu Gothic';
  margin: 0 auto;
}

.explain-container > h1{
  margin: 0;
  padding-top: 10px;
}



.sentence {
  height: 100px;
  line-height: 100px;
  margin-top: 20px;
}

.sentence > p {
  font-size: 24px;
  font-family: 'Dakuten';
  margin: 0;
}

.buttons {
  display: flex;
  padding: 10px 50px 0px;
  justify-content: space-between;
}

.buttons > ons-button{
  color: ghostwhite;
  font-size: 24px;
  font-family: 'Alegreya Sans SC';
  border: 2px solid slateblue;
  background: slateblue;
}

#method1 ons-button {
  margin: 0 auto;
}


/* genre.html */
.genre-button{
  margin-top: 70px;
  display: grid;
  justify-content: center;
  gap: 40px;
}

.genre > ons-button {
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  border-radius: 10px;
}

/* levels.html */
.start {
  text-align: center;
  padding-top: 50px;
  font-family: 'Dakuten';
  font-size: 18px;
}

#go {
  font-size: 35px;
  height: 50px;
  line-height: 35px;
  background: lightseagreen;
}

/* modal */

.layout {
  width: 350px;
  margin: 0 auto;
  display: block;
}

ons-button.close {
  margin-top: 30px;
  font-size: 24px;
  background: tomato;
  font-family: 'Alegreya Sans SC';
}

.pop-btn {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

#plus, #return {
  width: 100px;
  margin: 0 auto;
  font-size: 24px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#plus {
  color: tomato;
  border-color: tomato;
}

#return {
  color: mediumaquamarine;
  border-color: mediumaquamarine;
}

#what {
  text-align: center;
  font-size: 50px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: linear-gradient(transparent 60%, lightseagreen 90%);
  margin: 30px auto;
  width: 270px;
}

#what2 {
  width: 170px;
  text-align: center;
  font-size: 50px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: linear-gradient(transparent 60%, lightseagreen 90%);
  margin: 30px auto;
}

.levels-btn {
  background: rgba(144, 238, 144, 0.3);
  border-radius: 10px;
  display: grid;
  gap: 40px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.level > ons-button {
  width: 150px;
  font-size: 24px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 10px;
}

button {
  display: none;
}

#level1, #colors {
  color: royalblue;
  border: 3px solid royalblue;
}

#level1-ex {
  width: 50px;
  border-radius: 50%;
}

#level2, #characters {
  color: red;
  border: 3px solid red;
}

#level2-ex {
  width: 50px;
  border-radius: 50%;
}

#level3, #animals {
  color: limegreen;
  border: 3px solid limegreen;
}

#level3-ex {
  width: 50px;
  border-radius: 50%;
}

#level4, #jhonnys {
  color: gold;
  border: 3px solid gold;
}

#level4-ex {
  width: 50px;
  border-radius: 50%;
}

#random, #various {
  color: mediumorchid;
  border: 3px solid mediumorchid;
}

#random-ex {
  width: 50px;
  border-radius: 50%;
}

label {
  padding: 10px;
  border: 3px solid steelblue;
}

label > img {
  width: 30px;
  height: 24px;
  vertical-align: middle;
}



/* pop */
.modal-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Alegreya Sans SC';
  background-color: rgba(135, 206,235, 0.8);
}

.modal-container > ons-button {
  color: ghostwhite;
  font-size: 24px;
  font-family: 'Alegreya Sans SC';
  border: 2px solid slateblue;
  background: slateblue;
  margin-top: 30px;
}

.modal-container > p {
  font-size: 27px;
  font-family: 'Yu Gothic';
}

/* slide.html */

.slide-image {
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 100px; 
  font-family: 'Dakuten';
}

#comment {
  font-family: 'Genei';
  font-size: 32px;
}


#main {
  margin-top: 10px;
  width: 350px;
}


/* select.html */
.select-name {
  margin-top: 10px;
}

#select-title {
  width: 320px;
  margin: 20px auto;
  text-align: center;
  font-size: 60px;
  font-family: 'Alegreya Sans SC';
  background: linear-gradient(transparent 60%, lightblue 90%);
}

#select-sentence {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Dakuten';
}

.select {
  margin: 0;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(2, 175px);
  justify-content: center;
  grid-row-gap: 30px;
}

.select > li {
  /* background: orange; */
  width: 165px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid mediumslateblue;
  margin: 0 auto;
}

.tapped {
  opacity: 0.6;
}

.btns {
  width: 300px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}


#reset, #check {
  font-size: 30px;
  width: 120px;
  height: 50px;
  line-height: 40px;
  font-weight: bold;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#reset {
  color: tomato;
  border: 2px solid tomato;
}

#check {
  color: steelblue;
  border: 2px solid steelblue;
}


.cannot {
  opacity: 0.4;
}


/* last.html */


#answer-box1, #answer-box2 {
  font-weight: bold;
  font-family: 'Alegreya Sans SC';
  font-size: 35px;
}

.judge {
  text-align: center;
  font-size: 100px;
}

#judge {
  opacity: 0;
  margin: 10px;
  font-family: 'Kaisho';
  font-weight: bold;
  animation: 1s 0.5s fadeIn forwards;
}

.perfect {
  font-family: 'Dakuten';
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.answer, .your-answer{
  width: 320px;
  background: rgba(255, 165, 0, 0.5);
  padding: 5px 20px 20px;
  margin: 0 auto 30px;
  text-align: center;
  border-radius: 30px;
  font-size: 30px;
}

.your-answer {
  background: rgba(102, 205, 170, 0.5);
}


#answer, #your-answer{
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
}

.row {
  width: 60px;
}

.row > img {
  width: 60px;
  vertical-align: bottom;
}

.btn {
  padding-top: 10px;
  text-align: center;
}

#top {
  font-size: 20px;
}

#last, #again {
  width: 200px;
  font-size: 30px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  animation: blinkAnime 0.2s infinite alternate;
  color: mediumslateblue;
  border: 3px solid mediumslateblue;
  margin-bottom: 20px;
}

#again {
  color: crimson;
  border: 3px solid crimson;
  animation: blinkAnime2 0.2s infinite alternate;
}

@keyframes blinkAnime{
  0% {color: rgba(123, 104, 238, 1);}
  100% {color: rgba(123, 104, 238, 0.3);}
}

@keyframes blinkAnime2{
  0% {color: rgba(220, 20, 60, 1);}
  100% {color: rgba(220, 20, 60, 0.3);}
}